* {
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  --body-color: #f4f3ee;
  --input-color: #bcb8b1;
  --border-color: #8a817c;
  --button-color: #e0afa0;
  --font-color: #463f3a;
}

body {
  background: var(--body-color);
}

header,
main {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding-left: 15px;
}

h1 {
  margin-top: 20px;
  color: var(--font-color);
}

h2 {
  margin-top: 50px;
  color: var(--font-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#task_form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#task_input {
  width: 500px;
  margin-top: 10px;
  border: 1px solid var(--border-color);
  padding: 10px 5px 10px 5px;
  padding-left: 10px;
  border-radius: 30px;
  margin-right: 1px;
  color: var(--font-color);
}

#task_submit {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 700;
  color: var(--font-color);
  cursor: pointer;
  transition: 0.4s;
  background: var(--button-color);
  border-radius: 30px;
  padding: 15px;
}

#task_submit:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

#task_submit:active {
  opacity: 0.6;
}

#tasks .task {
  display: flex;
}

.text {
  margin: 0 auto;
  width: 500px;
  margin-top: 10px;
  border: 1px solid var(--border-color);
  padding: 10px 5px 10px 5px;
  padding-left: 15px;
  border-radius: 20px;
  color: var(--font-color);
}

.actions {
  margin-top: 18px;
  margin-left: 20px;
  display: flex;
  float: right;
  padding-right: 20px;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-weight: 300;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
  text-decoration: underline var(--border-color);
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .delete {
  color: crimson;
}

#time {
  font-size: 12px;
  margin-top: 10px;
  color: var(--font-color);
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    margin: 0 auto;
  }

  .text {
    width: 350px;
  }
}

@media (max-width: 450px) {
  .container {
    max-width: none;
    margin: 0 auto;
  }

  .text {
    width: 200px;
  }
}

