* {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
}

:root {
  --body-color: #539eac;
  --input-color: #bcb8b1;
  --border-color: #000000;
  --button-color: #bcb8b1;
  --font-color: #000000;
  --bg-color: #0200d0;
}

body {
  background: var(--body-color);
}

header,
main {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding-left: 15px;
}

h1 {
  margin-top: 20px;
  color: var(--font-color);
}

h2 {
  margin-top: 50px;
  color: var(--font-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#task_form {
  display: flex;
  margin-right: 20px;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#task_input {
  width: 500px;
  margin-top: 10px;
  border: 1px solid var(--border-color);
  padding: 10px 5px 10px 5px;
  padding-left: 10px;
  margin-right: 1px;
  background: var(--input-color);
  color: var(--font-color);
}

#task_submit {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #000000;
  color: var(--font-color);
  cursor: pointer;
  transition: 0.4s;
  background: var(--button-color);
  padding: 15px;
  transition: ease-in 0.3s;
}

#task_submit:hover {
  background: var(--bg-color);
  color: var(--button-color);
  transition: ease-out 0.3s;
  border-style: dotted;
  border-color: var(--button-color);
}

#task_submit:active {
  opacity: 0.6;
}

#tasks .task {
  display: flex;
  flex-direction: column-reverse;
}

input {
  border: 1px solid var(--border-color);
}

.text {
  margin: 0 auto;
  width: 500px;
  border: 1px solid var(#ffffff);
  padding: 20px 5px 20px 5px;
  padding-left: 15px;
  color: var(--font-color);
  background: var(--button-color);
}

.actions {
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  padding: 10px 5px 10px 5px;
  padding-left: 15px;
  width: 500px;
  margin-top: 20px;
  display: flex;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-weight: 300;
  transition: 0.4s;
  color: var(--input-color);
}

.task .actions button:hover {
  opacity: 0.8;
  text-decoration: underline var(--input-color);
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .delete {
  color: crimson;
}

#time {
  font-size: 12px;
  margin-top: 10px;
  color: var(--font-color);
}

@media (max-width: 1024px) {
  .container {
    max-width: none;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    margin: 0 auto;
    overflow: hidden;
  }

  #task_input {
    width: 350px;
  }

  .text {
    width: 350px;
  }

  .actions {
    width: 350px;
  }
}

@media (max-width: 424px) {
  .container {
    max-width: none;
    margin: 0 auto;
    overflow: hidden;
  }

   .text {
    width: 350px;
  }

  .actions {
    width: 350px;
  }
}
